html {
  margin: 0 10%;
  font-family: 'Arial';
}

.page {
  display: none;
}

.page.active {
  display: initial;
}

table {
  width: 100%;
  text-align: center;
}

div.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

form > div {
  padding: 2rem 0rem;
}

form > button {
  width: fit-content;
}
